# intermediate / autogen

*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
stamp-h1
gen_*

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/revision
/ylwrap
/test-driver
/tests/unit/*.log
/tests/load/*.log

/configure_flags.env

# examples
/examples/cfengine_stdlib.cf

# gcov/lcov
*.gcno
*.gcda
*.trace
cfengine-lcov-base.info
cfengine-lcov.info
coverage-html/

# links
/nova

# tags
TAGS
tags
cscope.*

# vim
*~
.*.swp
.*.swo

# emacs
*~
\#*#
.dir-locals.el
/contrib/*.elc

# eclipse
.cproject
.project
.settings

# qt-creator
/core.config
/core.creator
/core.creator.user
/core.files
/core.includes
*.autosave

# Mac Finder
.DS_Store
